{% with messages = get_flashed_messages() %}
    	{% if messages %}
      		<ul>
       		{% for message in messages %}
       			<li>{{ message }}</li>
       		{% endfor %}
      		</ul>
    	{% endif %}
   		{% endwith %}


<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
	<h1><u>List of feedback for {{session['username']}}</u></h1>
	<div class = items>
		<div class = table>
			<table align="center">
				<tr>
				<th>Anonymous Feedback</th>
				</tr>

			{% for item in items %}
				<tr>
					<td>{{item['comment']}}</td>
				</tr>
			{% endfor %}

			</table>
		</div>
		
		</div>
	</div>
	<a href="/homepage">Back</a>

</body>
</html>